body {
    font-family: "Poppins", sans-serif;
    background-color: #eef1f5;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto; /* Permite el desplazamiento en la página */
}

.container {
    width: 210mm; /* A4 width */
    height: auto; /* Permite la altura dinámica */
    max-height: 297mm; /* A4 height */
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    overflow: visible; /* Asegura que no se recorte el contenido */
    margin-bottom: 20px; /* Se deja espacio en la parte inferior */
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #2c3e50, #1abc9c);
    color: white;
    border-radius: 12px 12px 0 0;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.profile-pic-container {
    flex: 0 0 100px;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.header-info {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.header-info h1 {
    margin: 0;
    font-size: 1.7em;
    font-weight: bold;
}

.header-info p {
    margin: 5px 0;
    font-size: 1em;
}

section {
    margin-bottom: 25px;
}

section h2 {
    font-size: 1.8em;
    background: linear-gradient(135deg, #2c3e50, #1abc9c);
    color: white;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-box {
    background-color: #ecf0f1;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.info-box:hover {
    transform: scale(1.03);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
}

.footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(135deg, #2c3e50, #1abc9c);
    color: white;
    border-radius: 0 0 12px 12px;
    font-weight: bold;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.footer a {
    text-decoration: none;
    color: #f1c40f;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    text-decoration: underline;
    color: #e67e22;
}

.word-cloud {
    max-width: 18%;
    border-radius: 5px;
    height: auto;
    float: right;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .word-cloud {
        width: 80%;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
